# Ignore environment variable files
*.env
.env.*

# Ignore Python cache directories and bytecode files
**/__pycache__/
*.py[cod]
*$py.class

# Ignore Node.js modules directories anywhere in the project
**/node_modules/

# Optionally ignore OS-specific files
.DS_Store
Thumbs.db
